ENVIRONMENT=development # development | production

POSTGRESQL__HOST="db"
POSTGRESQL__PORT=5432
POSTGRESQL__DATABASE="db"
POSTGRESQL__USERNAME="admin"
POSTGRESQL__PASSWORD="123456"

FASTAPI__ENDPOINT_PREFIX="/url-shortener"
FASTAPI__DOCS_URL="${FASTAPI__ENDPOINT_PREFIX}/docs"
FASTAPI__REDOC_URL="${FASTAPI__ENDPOINT_PREFIX}/redoc"
FASTAPI__OPENAPI_URL="${FASTAPI__ENDPOINT_PREFIX}/openapi.json"
FASTAPI__LOG_LEVEL="info"