ENVIRONMENT=development # development | production

POSTGRESQL__HOST="db"
POSTGRESQL__PORT=5432
POSTGRESQL__DATABASE="db"
POSTGRESQL__USERNAME="admin"
POSTGRESQL__PASSWORD="123456"

FASTAPI__ENDPOINT_PREFIX="/url-shortener"
FASTAPI__DOCS_URL="${FASTAPI__ENDPOINT_PREFIX}/docs"
FASTAPI__REDOC_URL="${FASTAPI__ENDPOINT_PREFIX}/redoc"
FASTAPI__OPENAPI_URL="${FASTAPI__ENDPOINT_PREFIX}/openapi.json"
FASTAPI__LOG_LEVEL="INFO"

CONSTANT__SHORT_CODE_LENGTH=7

CODE_GENERATOR__TARGET_UNUSED_STORED_CODES=1000
CODE_GENERATOR__BATCH_SIZE=100

OUTBOX_CONSUMER__MAX_RETRIES=3
OUTBOX_CONSUMER__BACKOFF_SEC=2

KAFKA__URL_SHORTENER_TOPIC_NAME="UrlShortener"
KAFKA__URL_SHORTENER_PRODUCER_CLIENT_ID="url-shortener-producer"
KAFKA__URL_SHORTENER_TOPIC_NUM_PARTITIONS=9
KAFKA__URL_SHORTENER_TOPIC_REPLICATION_FACTOR=1
KAFKA__URL_SHORTENER_TOPIC_MIN_INSYNC_REPLICA=1